.home-page {
  position: relative;
  height: 100vh;
}

.home-page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffffff 70%, transparent);
  z-index: 10;
}

.home-page-header-icon-item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: bolder;
}

.home-page-content {
  position: fixed;
  top: 0;
  bottom: 94px;
  padding: 64px 20px 20px;
  overflow: hidden;
  overflow-y: auto;
}
