.lesson-page {
  position: relative;
  height: 100vh;
}

.lesson-page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 24px 20px 20px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e0e0e0;
  z-index: 6;
}

.lesson-page-content {
  width: 100%;
  position: fixed;
  top: 73px;
  bottom: 69px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 5;
}

.lesson-page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px 20px 32px 20px;
  display: flex;
}

.quiz-option {
  border: 2px solid transparent;
  transition: all 0.25s ease !important;
  cursor: pointer;
}

.quiz-option.selected {
  border: 2px solid #2196f3;
  transform: scale(1.02);
}

.quiz-option.correct {
  /* background-color: #e8f5e9; light green */
  border: 2px solid #4caf50;
}

.quiz-option.incorrect {
  /* background-color: #ffebee; light red */
  border: 2px solid #f44336;
}

.quiz-option.animate {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
